<!DOCTYPE html>

<html lang="tr"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    {% block head %}
        <title>DoT Bank</title>
    {%endblock%}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/') }}bank.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.8.55/css/materialdesignicons.min.css" />
  <style>.cke{visibility:hidden;}</style>
</head>

<body>
  <div class="container contact">
	<div class="row">
		<div class="col-md-3">
			<div class="mst-info">
				<img class="img-fluid mx-auto d-block rounded" src="{{ url_for('static', filename='img/') }}bank.svg" alt="image">
				<h3 class="text-center">DoT Bank</h3>
                <hr>
                <ul class="mylist">
                  <li><a href="{{url_for('.home')}}">Anasayfa</a></li>
                  <li><a href="{{url_for('.user')}}">Hesaplar</a></li>
                  <li><a href="{{url_for('.card')}}">Kartlar</a></li>
                  <li><a href="{{url_for('.receipt')}}">Dekontlar</a></li>
                  <li><a href="{{ url_for('.home') }}">Çıkış</a></li>
                </ul>
			</div>
		</div>
		<div class="col-md-9">
          {% include '_flashmessages.html' %}
          {% block body%}

          {%endblock%}
		</div>
	</div>
</div>
  <!-- container-scroller -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
